.product-item-container{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
    margin-left: 200px;
}
.product-name h4{
    color: blue;
    font-weight: 500;
}
.main-btn{
    background-color: goldenrod;
    width: 150px;
    height: 30px;
    border: 1px solid black ;
    border-radius: 5px;
    cursor: pointer;

}
